@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap");
/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss";
/* stylelint-enable at-rule-no-unknown */

:root {
  --font-body: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
